#documenter-ext-navbar {
    background-color: rgb(230, 230, 230);
    border-bottom: 1px solid #dbdbdb;
    height: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
}

#documenter-top-navbar-full {
    width: calc(100vw - 19rem);
    background-color: rgb(245, 245, 245);
    border-bottom: 1px solid #dbdbdb;
    height: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
}

#documenter-top-navbar-full .docs-right {
    display: flex;
    white-space: nowrap;
    gap: 1rem;
    align-items: center;
    margin-left: auto;
}
#documenter-top-navbar-full .docs-right a {
    margin-left: 1rem;
}

#documenter-top-navbar-full a, #documenter-top-navbar-full span,
#documenter-ext-navbar a, #documenter-ext-navbar span {
    font-size: 0.95rem;
    font-weight: bold;
    color: black;
}

#documenter-ext-navbar ul.d-megadropdown span {
    text-decoration: underline;
    font-weight: normal;
}

#documenter-top-navbar-full > ul,
#documenter-ext-navbar > ul {
    display: flex;
}

#documenter-top-navbar-full > ul > li,
#documenter-ext-navbar > ul > li {
    height: 3rem;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
}

#documenter-top-navbar-full > ul > li > .d-navbar-item,
#documenter-ext-navbar > ul > li > .d-navbar-item {
    margin-top: auto;
    margin-bottom: auto;
    display: block;

    padding: 0 1rem;
}

#documenter-ext-navbar > ul > li:hover {
    background-color: rgb(200,200,200);
}

#documenter-ext-navbar-right-items {
    display: flex;
    margin: 0;
    margin-left: auto;
}

#documenter-ext-navbar-right-items * {
    padding: 1rem;
    font-size: 1rem;
}

#documenter-ext-navbar ul.d-dropdown {
    position: absolute;
    top: 2.8rem;
    /* top: 5rem; */
    /* left: 12rem; */
    z-index: 10;
    background-color: rgb(245, 245, 245);
    border: 1px solid #dbdbdb;
    /* margin-top: 0.3rem; */
    padding: 0.5rem 0;
    box-shadow: 0rem 0.2rem 0.2rem #bbb;
}

#documenter-ext-navbar ul.d-megadropdown ul {
    display: block;
}

#documenter-ext-navbar ul.d-dropdown > .d-navbar-item::after {
    content: "";
    margin-left: 5px;

    /* caret down */
    display: inline-block;
    vertical-align: 0.2em;
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}
#documenter-ext-navbar ul.d-dropdown.d-expanded > .d-navbar-item::after {
    /* caret up */
    border-top: 0;
    border-bottom: .3em solid;
}

#documenter-ext-navbar ul.d-megadropdown {
    position: absolute;
    left: 0;
    /* We need the -1px is there so that the megadropdown would cover the bottom border of
    the navbar. Otherwise, the hover gets disabled if you move over the border. */
    top: calc(3rem - 1px);
    width: 100vw;

    z-index: 10;
    background-color: rgb(245, 245, 245);
    border: 1px solid #dbdbdb;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));

    padding: 1rem;

    box-shadow: 0rem 0.2rem 0.2rem #bbb;
}

#documenter-ext-navbar > ul > li.d-dropdown ul.d-dropdown,
#documenter-ext-navbar > ul > li.d-megadropdown ul.d-megadropdown {
    transition: opacity 0.2s 0.5s ease, visibility 0.2s 0.5s;
}

#documenter-ext-navbar > ul > li.d-dropdown:hover ul.d-dropdown,
#documenter-ext-navbar > ul > li.d-megadropdown:hover ul.d-megadropdown {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.2s 0s ease, visibility 0.2s 0s;
    z-index: 15;
}

header.docs-navbar-menu {
    border-bottom: 1px solid #dbdbdb;
}

header.docs-navbar-menu ul {
    display: flex;
    font-weight: bold;
    font-size: 1rem;
}

header.docs-navbar-menu ul > li {
    margin-right: 0.5rem;
    height: 2.8rem;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
}

header.docs-navbar-menu ul > li:hover {
    background-color: rgb(245, 245, 245) !important;
}

header.docs-navbar-menu ul > li.is-active {
    /* background-color: gray; */
    text-decoration: underline;
}

header.docs-navbar-menu ul li > a {
    margin-top: auto;
    margin-bottom: auto;
    color: black;
}

header.docs-navbar-menu ul > li {
    display: flex;
}

#documenter ul.d-dropdown,
#documenter ul.d-megadropdown {
    visibility: hidden;
    opacity: 0;
}

#documenter-ext-navbar ul.d-dropdown li,
#documenter-ext-navbar ul.d-megadropdown > li li {
    padding: 0.5rem 1rem;
}

#documenter-ext-navbar ul.d-dropdown li:hover,
#documenter-ext-navbar ul.d-megadropdown ul > li:hover {
    background-color: rgb(200,200,200);
}

#documenter-main {
    display: flex;
}

#documenter .d-sidebar > .d-sidebar-nav {
    position: sticky;
    top: 0;
    height: initial;
}

#documenter-sidebar-left {
    background-color: rgb(245, 245, 245);
    border-right: 1px solid #dbdbdb;
}

#documenter-sidebar-left .docs-sidebar {
    border: none !important;
}

#documenter-sidebar-right {
    background-color: #fff;
}

#documenter-sidebar-right nav {
    background-color: initial !important;
    min-width: 5rem;
    width: initial !important;
    height: 10rem;
    border-left: 1px solid black;
    padding-left: 1rem !important;
    margin-top: 5rem;
    border-right: none !important;
}

#documenter-body {
    margin-left: 0 !important;
    padding-left: 3rem;
    background-color: #ffffff;
}

#documenter-sidebar-right {
    padding-left: 1rem;
}

#documenter-sidebar-right > nav > div {
    line-height: 1.5;
    font-size: 0.85rem;
    font-weight: bold;
    margin-top: 1rem;
}

#documenter-sidebar-right ul.docs-menu {
    padding-bottom: initial !important;
    padding-top: 0.3rem;
}

#documenter-sidebar-right .tocitem {
    background: none !important;
    font-weight: normal !important;
    font-size: 0.85rem;
    padding: 0.3rem 0.3rem !important;
}

#documenter-sidebar-right .tocitem::before {
    content: "⚬";
    margin-right: 0.4em;
}

#documenter-sidebar-right .tocitem:hover {
    background-color: rgb(245, 245, 245) !important;
}



#debugger {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    min-width: 15rem;
    min-height: 10rem;
    border: 1px solid black;
    background-color: antiquewhite;

    padding: 1rem;
}

.disabled {
    display: none !important;
}
